<li class="list-group-item">
    
    <!-- Edit Form -->
    <div class="d-flex align-items-center justify-content-start">
        <form class="w-100" [formGroup]="toDoForm" (ngSubmit)="onSubmit()">
            
            <!-- Description -->
            <div class="form-group row">
                
                <!-- Input -->
                <div class="col-12 col-sm-8 mb-2 mb-sm-0">
                    <div class="input-group">
                        <input type="text" 
                            formControlName="description" 
                            class="form-control" 
                            [ngClass]="{ 'is-invalid': submitted && toDoFormControls['description'].errors}"
                            placeholder="Ex. Completed the challenge" 
                            autofocus="" 
                            tabindex="0"/>
                    </div>
                </div>

                <!-- Save Button -->
                <div class="col-12 col-sm-4 d-flex align-items-center justify-content-end justify-content-sm-around">
                    <button type="submit" class="btn btn-outline-dark mx-2 mx-sm-0">&#x2713;</button>
                    <button type="button" class="btn btn-outline-danger" (click)="cancel()">&#10005;</button>
                </div>

            </div>

        </form>
    </div>
</li>