<li class="list-group-item" (click)="toggleStatus($event)">
    
    <!-- Normal Mode -->
    <div class="d-flex align-items-center justify-content-start">
        
        <!-- Completed Status -->
        <div class="bullet bullet-sm" [ngClass]="{'completed' : ToDo.status}"></div>
        
        <!-- Description -->
        <div class="to-do-item-text" [innerHtml]="ToDo.description | highlight : Key"></div>

        <!-- Action Button -->
        <div class="btn-group to-do-item-action-button">
            <button type="button" class="btn btn-edit" (click)="editItem($event)">&#9998;</button> 
            <button type="button" class="btn btn-delete" (click)="deleteItem($event)">&#10005;</button>
        </div>

    </div>

</li>