.header-content {
    background-color: #f8f8f8;
    padding: 1rem 1.5rem;
    box-shadow: rgb(0 0 0 / 45%) 0px 0px 5px 0px;
    height: 70px;

    .header-title .text {
        margin-left: 0.5rem;
        font-weight: bold;
    }
}