<!-- To Do List Container -->
<div class="to-do-list-container col-12 offset-sm-2 col-sm-8 offset-lg-3 col-lg-6">
    
    <!-- Header Section -->
    <section class="header-section pt-4 pb-4 mb-4">

        <!-- Sub-Header -->
        <div class="d-flex align-items-center justify-content-between sub-header">
            <h4 class="mb-0">Todo List</h4>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-dark action-dropdown" ngbDropdownToggle>&#9776;</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="sortByTimeStamp" ngbDropdownItem (click)="toggleSortingDir()">
                        Sort By Timestamp - {{SortingDir}}
                    </button>
                    <button class="newToDoItem" ngbDropdownItem (click)="newToDoFlag = true">New To Do Item</button>
                </div>
            </div>
        </div>
        

        <!-- Search Bar -->
        <div class="mt-3">
            <div class="form-group mb-3">
                <input type="search" class="form-control" [(ngModel)]="Search_Key" placeholder="Search...">
            </div>

            <div class="form-group">
                <select class="form-control" [(ngModel)]="Search_Status">
                    <option value="">All</option>
                    <option value="Completed">Completed</option>
                    <option value="UnCompleted">UnCompleted</option>
                </select>
            </div>
        </div>
    </section>
    
    <!-- To Do List Section -->
    <section>
        <ul class="list-group">

            <!-- New To Do Form -->
            <ng-container *ngIf="newToDoFlag">
                <to-do-list-item-form
                    class="Create-Form"
                    (saveToDo)="createToDo($event)"
                    (cancelToDo)="cancelCreatingToDo()">
                </to-do-list-item-form>
            </ng-container>

            <!-- To Do List -->
            <ng-container *ngFor="let toDoItem of toDoListItems | filter : Search_Key : Search_Status | sortByTimestamp : Sorting_Dir ? '+' : '-'">
                
                <!-- Display Item -->
                <to-do-list-item 
                    *ngIf="!toDoItem.modifyFlag"
                    [id]="toDoItem.id"
                    [data]="toDoItem"
                    [Search_Key]="Search_Key" 
                    (toggleToDo)="toggleToDo($event)"
                    (editToDo)="updateToDo($event)" 
                    (deleteToDo)="deleteToDo($event)">
                </to-do-list-item>

                <!-- Inline Edit Form -->
                <to-do-list-item-form
                    *ngIf="toDoItem.modifyFlag"
                    class="Edit-Form"
                    [id]="toDoItem.id"
                    [data]="toDoItem"
                    (saveToDo)="updateToDo($event)"
                    (cancelToDo)="updateToDo($event)">
                </to-do-list-item-form>

            </ng-container>
        </ul>
    </section>


</div>
