.to-do-list-container {

    height: 100%;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 0rem 1rem 1rem 1rem;
    border-radius:  0.428rem;
    overflow: overlay;

    .header-section {

        position: sticky;
        top: 0px;
        left: 0px;
        background: #fff;
        z-index: 99999;
        box-shadow: rgb(0 0 0 / 4%) 0px 3px 5px;

        .sub-header {

            .action-dropdown {
    
                width: 2.5rem;
                height: 2.5rem;
    
                &::after {
                    content: none!important;
                }
            }
    
        }
    }
    

    .list-group {

        background-color: #f8f8f8;

        .list-group-item {

            cursor: pointer;
            overflow: hidden;
            user-select: none;

            .to-do-item-text {
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 90%;
                overflow: hidden;
            }

            .to-do-item-action-button {
                position: absolute;
                top: 0px;
                right: -4.5rem;
                height: 100%;
                border-radius: 0px;
                transition: right .2s linear;

                .btn {
                    border-radius: 0px;
                    color: #fff;
                    width: 2.5rem;

                    &.btn-edit {
                        background-color: #3276b1;
                    }

                    &.btn-delete {
                        background-color: #a90329;
                    }
                }
            }
    
            &:hover {
                
                transform: translate(0px, -1px);
                box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                z-index: 100;

                .to-do-item-action-button {
                    right : 0rem;
                }

                .to-do-item-text {
                    max-width: 75%;
                }
            }
        }
    }
    
}

/* To Do List Status Style */
.bullet {
    
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
    background-color: #ea5455;

    /* Size */
    &.bullet-xs {
      width: 0.5rem;
      height: 0.5rem;
    }
    &.bullet-sm {
      width: 0.714rem;
      height: 0.714rem;
    }
    &.bullet-lg {
      width: 1.25rem;
      height: 1.25rem;
    }

    /* Status Color */
    &.completed {
        background-color: #28c76f;
    }
}