/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    height: 100vh;
    width: 100%;
}

/* text-highlight SCSS */
.text-highlight {
    background-color: yellow;
}

/* Scroll Bar SCSS */

/* width */
::-webkit-scrollbar {

    width: 7px;
    border-radius: 0.428rem;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0.428rem;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    
    background: rgba(136, 136, 136, 0.204);
    border-radius: 0.428rem;

    &:hover {
        background: rgb(136, 136, 136);
    }
}

